# Wireguard peers with last bit < 128 are allowed access media hosting and services.
# Peers with last bit >= 128 access only services.

(media_and_services) {
    @blocklist {
        not remote_ip 127.0.0.0/8 ::1 10.2.71.0/24 10.10.10.0/28
    }
    respond @blocklist "Forbidden" 403
}

(services) {
    @blocklist {
        not remote_ip 127.0.0.0/8 ::1 10.2.71.0/24 10.10.10.0/24
    }
    respond @blocklist "Forbidden" 403
}

*.local.agentelement.net {
    tls {
        dns namecheap {
            api_key {env.NAMECHEAP_API_KEY}
            user {env.NAMECHEAP_API_USER}
            client_ip {env.NAMECHEAP_CLIENT_IP}
        }
        # Tell Caddy to wait 60s for Namecheap to update
        propagation_delay 60s
        # Disable local pre-checks to avoid caching NXDOMAIN
        propagation_timeout -1
    }
}

# Media
immich.local.agentelement.net {
    import media_and_services
    reverse_proxy localhost:2283
}

invidious.local.agentelement.net {
    import media_and_services
    reverse_proxy localhost:3000
}

# Services
llm.local.agentelement.net {
    import services
    reverse_proxy localhost:8080
}

searxng.local.agentelement.net {
    import services
    reverse_proxy localhost:8888
}

searxngmcp.local.agentelement.net {
    import services
    reverse_proxy localhost:8889
}
